<h1>マイページ</h1>

<div>
  <% if @customer.image.attached? %>
    <%= image_tag @customer.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image.png', size: "200x200" %>
  <% end %>
  <p>名前：<%= @customer.name %></p>
  <p>Eメール：<%= @customer.email %></p>
  <%= link_to '情報を変更', edit_public_customer_path(@customer), class: 'btn btn-primary' %>
  <%= link_to '退会', public_withdraw_customer_path, method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger' %>
</div>