<div class="container d-flex justify-content-center">
  <div class="profile-wrap w-75" style="margin:40px">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 text-center">
        <% if @customer.image.attached? %>
          <%= image_tag @customer.image, size: "200x200" ,class: "rounded-circle"%>
        <% else %>
          <%= image_tag 'no_image.png', size: "200x200", class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="col-md-1 "></div> <!-- マージンを確保するためのカラム -->
      <div class="col-md-7 d-flex flex-column">
        <!-- ユーザーネーム -->
        <div class="align-items-center mb-2">
          <p class="font-weight-bold mb-0">name</p>
          <p class="mb-0 ml-2"><%= @customer.name %></p>
        </div>
        <!-- ユーザーメール -->
        <div class="align-items-center mb-2">
          <p class="font-weight-bold mb-0">email</p>
          <p class="mb-0 ml-2"><%= @customer.email %></p>
        </div>
        <!-- 自己紹介文章 -->
        <div class="flex-column mt-3">
          <p class="font-weight-bold mb-0">introduction</p>
          <p class="ml-2"><%= @customer.bio %></p>
        </div>
        <% if @customer.email != "guest@example.com" %>
          <%= link_to 'プロフィール編集', edit_public_customer_path(@customer), class: 'btn btn-primary btn-custom-width mt-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>