<!-- customerの詳細 -->
<div class="container d-flex justify-content-center">
  <div class="profile-wrap w-75" style="margin:40px">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 text-center">
        <% if @customer.image.attached? %>
          <%= image_tag @customer.image, size: "200x200" ,class: "rounded-circle"%>
        <% else %>
          <%= image_tag 'no_image.png', size: "200x200", class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center">
          <!--ユーザーネーム-->
          <p class="mb-0 mr-2" style="font-weight: bold;"><%= @customer.name %></p>
        </div>
        <!--自己紹介文章-->
        <p class="mt-3"><%= @customer.bio %></p>
        <!-- フォロー・フォロワー数とフォローボタン&チャット -->
        <div id="follow_form_<%= @customer.id %>">
        <%= render 'public/relationships/btn', customer: @customer %>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- customerの投稿一覧 -->
<div class="container d-flex justify-content-center">
  <div class="row w-100">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem; height: 430px;">
          <%= link_to public_post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'no_image.png', class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <% if post.customer.image.attached? %>
                <%= link_to public_customer_path(post.customer) do %>
                  <%= image_tag post.customer.image, size: "50x50", class: "rounded-circle mr-2" %>
                <% end %>
              <% else %>
                <%= link_to public_customer_path(post.customer) do %>
                  <%= image_tag 'no_image.png', size: "50x50", class: "rounded-circle mr-2" %>
                <% end %>
              <% end %>
              <!-- ユーザーネーム -->
              <p class="mb-0"><%= post.customer.name %></p>
            </div>
             <div class="d-flex">
                <!-- 投稿日時表記 -->
                <p class="mb-0"><%= time_ago_in_japanese(post.created_at) %></p>
                <!--いいね-->
                <p id="post_<%= post.id %>favorite-btn"><%= render "public/favorites/favorite-btn", post: post %></p>
               <!-- コメント件数 -->
                <p class="text-muted mb-0 ml-2">
                  <%= link_to public_post_path(post.id) do %>
                    <i class="fa-regular fa-comment"></i> <%= post.post_comments.count %>
                  <% end %>
                </p>
                <%= render partial: 'public/posts/score', locals: { post: post } %>
              </div>
            <!-- 説明文章をトリミング -->
            <p class="card-text"><%= truncate(post.content, length: 100) %></p>
            <%= link_to '詳細を見る', public_post_path(post), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>