<!--customerの詳細-->
<table class="table">
  <tr><%= image_tag @customer.get_profile_image(100,100) %></tr>
  <tr>
    <th>name</th>
    <th><%= @customer.name %></th>
  </tr>
</table>
  <!--customerの投稿一覧-->
  <% @posts.each do |post| %>
<div>
  <%= link_to public_post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag @customer.get_profile_image(100,100) %></p>
  <p>説明：<%= post.content %></p>
  <p>ユーザーネーム：<%= @customer.name %></p>
</div>
<% end %>
