<h1>投稿編集</h1>

<%= form_with model: @post, url: public_post_path(@post), method: :patch, local: true do |f| %>
  <h4>Photo</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>Content</h4>
  <%= f.text_area :content, required: true %>
  
  <%= f.submit '更新', class: 'btn btn-primary' %>
<% end %>
<%= link_to '戻る', public_post_path(@post), class: 'btn btn-secondary' %>