
  <!--検索機能-->
<div class="d-flex justify-content-center mb-2">
  <%= render 'searches/form' %>
</div>

<h1 class="text-center">Post List</h1>

<div class="container d-flex justify-content-center">
  <div class="row w-100">
    <% @posts.each do |post| %>
      <div id="post_<%= post.id %>" class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem; height: 430px;">
          <%= link_to public_post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'no_image.png', class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <% if post.customer.image.attached? %>
                <%= link_to public_customer_path(post.customer) do %>
                  <%= image_tag post.customer.image, size: "50x50", class: "rounded-circle mr-2" %>
                <% end %>
              <% else %>
                <%= link_to public_customer_path(post.customer) do %>
                  <%= image_tag 'no_image.png', size: "50x50", class: "rounded-circle mr-2" %>
                <% end %>
              <% end %>
              <!--ユーザーネーム-->
              <p class="mb-0"><%= post.customer.name %></p>
            </div>
            <div class="d-flex">
              <!-- 投稿日時表記 -->
              <p class="mb-0"><%= time_ago_in_japanese(post.created_at) %></p>
              <!--いいね-->
              <p id="post_<%= post.id %>favorite-btn"><%= render "public/favorites/favorite-btn", post: post %></p>
              <!-- コメント件数 -->
              <p class="text-muted mb-0 ml-2"></p>
                <%= link_to public_post_path(post.id) do %>
                  <i class="fa-solid fa-comment"></i> <%= post.post_comments.count %>
                <% end %>
              </p>
              <!-- チャット -->
              <p class="mb-0">
              <% if current_customer != post.customer && current_customer.following?(post.customer) && post.customer.following?(current_customer) %>
                <%= link_to public_chat_path(post.customer.id), class: "ml-2" do %>
                  <i class="fa-regular fa-paper-plane"></i> 
                <% end %>
              <% end %>
              </p>
            </div>
            <!-- 説明文章をトリミング -->
            <p class="card-text"><%= truncate(post.content, length: 100) %></p>
            <span class="sentiment-score">emotion AI<%= post.score %></span>
            <%= link_to '詳細を見る', public_post_path(post), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>