<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    
     <p>画像</p>
  <% if post.image.attached? %>
    <%= image_tag post.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
    <p>説明：<%= post.content %></p>
    <p>ユーザーネーム：<%= post.customer.name %></p>
    <%= link_to '詳細を見る', public_post_path(post), class: 'btn btn-primary' %>
  </div>
<% end %>