<!--<h1 class="text-center">投稿詳細</h1>-->

<div class="d-flex justify-content-center">
  <div class="card" style="width: 100%;border: none; box-shadow: none;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="card-body text-center">
          <% if @post.image.attached? %>
            <%= image_tag @post.image, style: "width: 100%; height: 700px; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'no_image.png', style: "width: 100%; height: 700px; object-fit: cover;" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
            <% if @post.customer.image.attached? %>
              <%= link_to public_customer_path(@post.customer) do %>
                <%= image_tag @post.customer.image, size: "50x50", class: "rounded-circle mr-2" %>
              <% end %>
            <% else %>
              <%= link_to public_customer_path(@post.customer) do %>
                <%= image_tag 'no_image.png', size: "50x50", class: "rounded-circle mr-2" %>
              <% end %>
            <% end %>
            <!--ユーザーネーム-->
            <p class="mb-0"style="font-weight: bold;"><%= @post.customer.name %></p>
          <div class="d-flex align-items-center mb-3">
             <p>説明：<%= @post.content %></p>
          </div>
           <div class="d-flex">
              <!-- 投稿日時表記 -->
              <p class="mb-0"><%= time_ago_in_japanese(@post.created_at) %></p>
              <!--いいね-->
              <p id="post_<%= @post.id %>favorite-btn"><%= render "public/favorites/favorite-btn", post: @post %></p>
              <!-- コメント件数 -->
              <p class="text-muted mb-0 ml-2"></p>
                <%= link_to public_post_path(@post.id) do %>
                  <i class="fa-solid fa-comment"></i> <%= @post.post_comments.count %>
                <% end %>
              </p>
              <!-- チャット -->
              <p class="mb-0">
              <% if current_customer != @post.customer && current_customer.following?(@post.customer) && @post.customer.following?(current_customer) %>
                <%= link_to public_chat_path(@post.customer.id), class: "ml-2" do %>
                  <i class="fa-regular fa-paper-plane"></i> 
                <% end %>
              <% end %>
              </p>
              <!-- 通報リンクを削除ボタンの右横に追加 -->
              <p>
               <%= link_to new_public_report_path(content_id: @post, content_type: 'Post'), method: :get, class: 'report-link' do %>
                  <i class="fa-solid fa-triangle-exclamation"></i> 通報する
               <% end %>
              </p>
            </div>
          <% if @post.customer == current_customer %>
            <%= link_to '編集', edit_public_post_path(@post), class: 'btn btn-primary' %>
            <%= link_to '削除', public_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          <% end %>
          <%= link_to '戻る', public_posts_path(@post), class: 'btn btn-secondary' %>
        </div >
         <!-- コメント機能 -->
          <div id="post_<%= @post.id %>_comments">
            <%= render 'public/post_comments/index', post: @post %>
          </div>
      </div>
    </div>
  </div>
</div>
  