<h1>管理者ログイン</h1>

<%= form_with scope: :admin, url: admin_session_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="form-group form-check">
    <%= f.check_box :remember_me, class: 'form-check-input' %>
    <%= f.label :remember_me, class: 'form-check-label' %>
  </div>

  <%= f.submit 'ログイン', class: 'btn btn-primary' %>
<% end %>