 <div class="d-flex mb-0 align-items-center">
  <div class="mr-4">
    <span>following:</span>
    <a href="<%=  following_public_customer_path(customer) %>">
      <span style="font-weight: bold; margin-left: 5px;"><%= customer.following.count %></span>
    </a>
  </div>
  <div class="mr-4">
    <span>followers:</span>
    <a href="<%=  followers_public_customer_path(customer) %>">
      <span style="font-weight: bold; margin-left: 5px;"><%= customer.followers.count %></span>
    </a>
  </div>
  <div>
    <% if current_customer && current_customer != customer %>
      <% if current_customer.following?(customer) %>
        <%= form_with(url: public_customer_relationships_path(customer), method: :delete, local: false) do |f| %>
          <%= f.submit "Unfollow", class: "btn btn-outline-danger btn-sm", style: "font-size: 12px; padding: 2px 6px;" %>
        <% end %>
      <% else %>
        <%= form_with(url: public_customer_relationships_path(customer), method: :post, local: false) do |f| %>
          <%= f.submit "Follow", class: "btn btn-outline-primary btn-sm", style: "font-size: 12px; padding: 2px 6px;" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
  <!--チャット -->
       <% if current_customer != customer && current_customer.following?(customer) && customer.following?(current_customer) %>
  <% rooms = current_customer.customer_rooms.pluck(:room_id) %>
  <% customer_room = CustomerRoom.find_by(customer_id: customer.id, room_id: rooms) %>
  <% room_id = customer_room ? customer_room.room_id : Room.create.id %>
  
  <%= link_to public_chat_path(room_id), class: "ml-3" do %>
    <i class="fa-regular fa-paper-plane"></i> chatを始める
  <% end %>
<% end %>