<div class="d-flex justify-content-center">
  <div class="w-50">
    <h1 class="text-center mt-4">会員情報編集</h1>

    <%= form_with(model: [:admin, @customer], local: true) do |form| %>
      <div class="form-group">
        <%= form.label :name, "名前" %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email, "メールアドレス" %>
        <%= form.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :profile_image, "プロフィール画像" %>
        <%= form.file_field :profile_image %>
      </div>

      <% if @customer.image.attached? %>
        <div class="form-group">
          <%= image_tag @customer.image, style: "width: 100%; height: 350px; object-fit: cover;" %>
          <p><%= form.check_box :remove_image %> 画像を削除</p>
        </div>
      <% end %>

      <div class="d-flex justify-content-between mt-4">
        <div class="d-flex justify-content-between w-10">
          <%= form.submit "更新", class: 'btn btn-primary' %>
          <%= link_to '戻る', admin_customer_path(@customer), class: 'btn btn-secondary ml-3 ' %>
        </div>
      </div>
    <% end %>
  </div>
</div>