
    <% chats.each do |chat| %>
    <div class="message-content <%= chat.customer_id == current_customer.id ? 'message-left' : 'message-right' %>">
    <div class="message-photo">
      <%= image_tag(
                  chat.customer_id == current_customer.id ? 
                  (current_customer.image.attached? ? current_customer.image : 'no_image.png') : 
                  (chat.customer.image.attached? ? chat.customer.image : 'no_image.png'), 
                  class: "customer-photo") %>
    </div>
    <div class="message-text">
      <p><%= chat.message %></p>
      <% if chat.customer == current_customer %>
        <%= form_with url: public_chat_path(chat.id, chat_user_id: chat.customer_id), method: :delete, local: false, class: 'd-inline' do %>
          <%= submit_tag '削除', class: 'btn btn-danger btn-sm delete-btn', data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
