<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
             <!-- 1. CHAT WITH -->
            <h2 class="text-center">CHAT WITH <%= @customer.name %></h2>
             <!-- 2. すべてのメッセージ削除ボタン -->
           <div class="text-center mb-3">
  <%= form_with url: destroy_all_public_chats_path(room_id: @room.id, chat_user_id: @customer.id), method: :delete, local: false, class: 'd-inline' do %>
    <%= submit_tag '全てのメッセージを削除', class: 'btn btn-danger', data: { confirm: '本当に全てのメッセージを削除しますか？' } %>
  <% end %>
</div>
            <!-- 3. テーブル (ユーザー名の表示) -->
            <div class="d-flex justify-content-between mb-3">
                <div class="font-weight-bold" style="font-size: 20px;"><%= current_customer.name %></div>
                <div class="font-weight-bold" style="font-size: 20px;"><%= @customer.name %></div>
            </div>
               <!-- 4. メッセージ表示 -->
              <div id="message_tbody">
               <%=render "public/chats/chats_message",chats: @chats %>
              </div>
               <!-- 5. メッセージ送信フォーム -->
            
               <%= form_with model: @chat, url: @chat.new_record? ? public_chats_path : public_chat_path(@chat), local: false do |f| %>
               <div class="input-group mt-3">
                  <%= f.text_field :message , class: "form-control"%>
                  <%= f.hidden_field :room_id %>
                  <div class="input-group-append">
                      <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
                  </div>
              </div>
            <% end %>
             <!-- 6. 戻るボタン -->
            <div class="text-center mt-3">
                <%= link_to '戻る', following_public_customer_path(current_customer), class: "btn btn-sm btn-secondary" %>
            </div>
        </div>
    </div>
</div>