<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="text-center mt-4">管理者側投稿詳細</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card w-50">
      <div class="card-header text-center">
        <h2>投稿内容</h2>
      </div>
      <div class="card-body text-center">
        <p><strong>投稿ID:</strong> <%= @post.id %></p>
        <p><strong>投稿者:</strong> <%= link_to @post.customer.name, admin_customer_path(@post.customer) %></p>
        <p><strong>投稿日時:</strong> <%= @post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
        <div class="mb-3">
          <strong>画像:</strong><br>
          <%= image_tag @post.image, size: "400x400", class: "img-fluid" %>
        </div>
        <p><strong>内容:</strong></p>
        <p><%= @post.content %></p>
         <!-- コメント機能 -->
          <%= render 'public/post_comments/index' %>
        <!-- アクションボタン -->
        <div class="mt-4">
          <%= link_to '戻る', admin_posts_path(@post), class: 'btn btn-secondary' %>
          <%= link_to '編集', edit_admin_post_path(@post), class: 'btn btn-primary' %>
          <%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>