<header >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <%= link_to root_path do %>
        <%= image_tag 'top_lo.png', alt: 'にゃんずbookロゴ',width: 200, style: ' margin: 0; padding: 0;' %>
     <% end %>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!--管理者ログイン中ヘッダー-->
        <% if admin_signed_in? %>
           <li>
            <%= link_to admin_root_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-users"></i> Customer List
            <% end %>
          </li>
          <li>
            <%=  link_to admin_posts_path ,class: 'nav-link text-light' do %>
             <i class="fa-regular fa-image"></i> Post List
            <% end %>
          </li>
          <li>
            <%=  link_to admin_post_comments_path,class: 'nav-link text-light' do %>
             <i class="fa-regular fa-image"></i> Comment List
            <% end %>
          </li>
          <li>
            <%= link_to  destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> logout
            <% end %>
          </li>
          <!--顧客ログイン中ヘッダー-->
        <% elsif customer_signed_in? %>
          <li>
            <%= link_to public_customer_path(current_customer),class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> myHome
            <% end %>
          </li>
          <li>
            <%=  link_to public_mypage_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-cat"></i>mypage
            <% end %>
          </li>
          <li>
            <%=  link_to new_public_post_path ,class: 'nav-link text-light' do %>
             <i class="fa-solid fa-camera-retro"></i> Post 
            <% end %>
          </li>
          <li>
            <%=  link_to  public_posts_path ,class: 'nav-link text-light' do %>
             <i class="fa-regular fa-image"></i> Post List
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> logout
            <% end %>
          </li>
          <!--ログインしていない時のヘッダー画面-->
        <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li>
            <%= link_to public_about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> login
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
  </nav>
</header>