<!DOCTYPE html>
<html>
  <head>
    <title>NyansBookWbs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/75e15c40a4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
     
  </head>

  <body class="d-flex flex-column vh-100 <%= 'top-page-background' if current_page?(controller: 'homes', action: 'top') %>">
     <%= render 'layouts/header' %>
      <main class="mb-auto">
      
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>
      
    <%= yield %>
    </main>
   
    <%= render 'layouts/footer' %>
  </body>
</html>
